﻿@model ProductAttributeViewModel

<tr data-index="@Model.Index">
    <td>
        @Html.DropDownList("MappedAttribute[" + Model.Index + "].AttributeId", new SelectList(
                Model.AttributeSelectionOption.Select(x => new { Value = x.AttributeId, Text = x.AttributeName }),
                "Value",
                "Text",
                Model.AttributeId
    ), "Select Attribute", new { @class = "form-control" })
        <input type="hidden" value="@Model.ProductAttributeId" name="@("MappedAttribute[" + Model.Index + "].ProductAttributeId")" />
        <input type="hidden" value="@Model.ProductId" name="@("MappedAttribute[" + Model.Index + "].ProductId")" />
    </td>
    <td>
        <input type="text" name="@("MappedAttribute[" + Model.Index + "].AttributeValue")" class="form-control" value="@Model.AttributeValue" />
    </td>
    <td>
        <a href="javascript:;" data-deleteId="@Model.ProductAttributeId" class="delete-row">Delete</a>
    </td>
</tr>