﻿@model CategorySelectionViewModel

@{
    ViewData["Title"] = "Product Create - Step 1 - Select Category";
}

<h1> Category Selection</h1>

<h4>Product Create : Step 1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategorySelection" method="post">
            
            <div class="form-group">
                @Html.DropDownList("SelectedCategory", new SelectList(
                                        Model.CategoryData.Select(x => new { Value = x.ProdCatId, Text = x.CategoryName }).OrderBy(o => o.Value),
                                        "Value",
                                        "Text",
                                        Model.SelectedCategory),
                                        "Select Category", new { @class = "form-control" })
                <span asp-validation-for="SelectedCategory" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Go To Step 2" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
