﻿@model ProductViewModel

@{
    ViewData["Title"] = "Save Product Data";
    int indexCount = 0;
}

<h1> @(Model.ProductId > 0 ? "Edit" : "New") Product</h1>

<h4>Product Details - Step 2 (For Category : @Model.ProdCatName) </h4>
<hr />
<div class="row">
    @await Html.PartialAsync("_RenderErrorMessage")
    <div class="col-md-8">
        <form asp-action="CreateOrUpdate" method="post">
            <input type="hidden" asp-for="ProdCatId" />
            <input type="hidden" asp-for="ProductId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProdName" class="control-label"></label>
                <input asp-for="ProdName" class="form-control" />
                <span asp-validation-for="ProdName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdDescription" class="control-label"></label>
                <textarea asp-for="ProdDescription" class="form-control"></textarea>
                <span asp-validation-for="ProdDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <table id="AttributeList">
                    <thead>
                        <tr>
                            <th>
                                Attribute
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                <a href="javascript:;" class="add-row">Add Attribute Row</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MappedAttribute?.Any() ?? false)
                        {
                            foreach (var eachMappedAttributeDetails in Model.MappedAttribute)
                            {
                                eachMappedAttributeDetails.Index = indexCount;
                                eachMappedAttributeDetails.AttributeSelectionOption = Model.AttributeAsPerCategory;
                                @await Html.PartialAsync("_ProductMappedAttribute", eachMappedAttributeDetails)
                                indexCount++;
                            }
                        }

                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<input type="hidden" value="@Url.Action("AddAttributeSelection")" id="addformurl" />
<input type="hidden" value="@Url.Action("DeleteAttribute")" id="deleteformurl" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CreatePage.js" asp-append-version="true"></script>
}
