﻿@model IEnumerable<ProductViewModel>
@{ 
    ViewData["Title"] = "Product List";
}

@section Styles
{
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" />
}

<div class="form-group">
    <a class="btn btn-primary" href="@Url.Action("CategorySelection")">Add New Product</a>
</div>
@if (Model?.Any() ?? false)
{
    <table id="ProductTable">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Product Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eachProduct in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("CreateOrUpdate",new { productId = eachProduct.ProductId })">Edit</a>
                    </td>
                    <td>
                        @eachProduct.ProdName
                    </td>
                    <td>
                        @eachProduct.ProdCatName
                    </td>
                    <td>
                        @eachProduct.ProdDescription
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No Product is added yet, click here to Add new</h1>
}

@section Scripts
{
    <script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="~/js/IndexPage.js" asp-append-version="true"></script>
}