﻿@if (TempData != null && TempData.Keys.Any() && TempData.Keys.Contains(MessageType.ErrorMessage.ToString()))
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i>Error!</h4>
        @TempData[MessageType.ErrorMessage.ToString()]
    </div>
}